.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3b3e43;
}

.display {
  background-color: #25282d;
  border: 2px solid #1b1d1f;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: right;
}

input[type="text"] {
  background-color: #25282d;
  border: none;
  width: 100%;
  color: white;
  font-size: 24px;
  outline-color: #3b3e43;
}

.result {
  color: #ffffff;
  font-size: 28px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: #1b1d1f;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3b3e43;
}
